


/* //////////// */
/* Reset */

html, body, div, form, fieldset, legend, label, ul, button {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6, th, td, caption, p, label, span {
	font-weight: normal;
}

img, button {
	border: 0;
}

video, canvas {
	display: block;
}