
extends ./layout.jade

block content
	.contain
		p.white If you want to learn more about the St. Louis Browns, the Historical Society, membership, upcoming events, or any other related topic, please fill out the form below. Someone will get back to you shortly. 
	
		form#contact(novalidate)
			.form-group(data-required)
				input(id="name", name="name", type="text", placeholder="Your Name")
			.form-group(data-required)
				input(id="email", name="email", type="email", placeholder="Email Address")
			.form-group(data-required)
				input(id="phone", name="phone", type="text", placeholder="Phone Number")
			.form-group(data-required)
				textarea(id="comment", name="comment", placeholder="Question/Comment")
			.form-group.error
				p All fields are required.
			button(type="submit", class="submit") Submit