<div class="page-title">
	<h1>About The Society</h1>
</div>

<div class="content">

	<div class="top">

		<div class="intro">

			<h5>Overview</h5>
			<p>41 losing seasons in 52 years. A whiff of a World Series. Misfits, a midget, and money problems. The Browns are baseball’s losingest and least remembered team. But beneath the tarnish is true baseball gold. Heroes of the greatest generation. Moments of grit, guts and glory. A roller coaster of ruin and redemption. The St. Louis Browns Historical Society and Fan Club is dedicated to preserving every stat and story, so the legend of baseball’s most colorful underdogs can endure forever.</p>

		</div>

		<div class="board">

			<h2>Board Members</h2>

			<div class="grid">

				<div>
					<img src="{{ Config.cdn }}images/about-photo-bill-rogers.png" alt="" />
					<h6>Bill Rogers, President</h6>
					<p>Bill&rsquo;s career is in business, but his passion is baseball. He opened his own consulting company for credit unions in 1988. Since then, he has published several industry newsletters and managed a technology center for over 14 years. Most recently, Bill has been actively involved in producing, moderating and speaking at credit union conferences and seminars. He is President of The Society and Managing Editor of Pop Flies, the St. Louis Browns newsletter.</p>
				</div>
				<div>
					<img src="{{ Config.cdn }}images/about-photo-emmett.png" alt="" />
					<h6>Emmett McAuliffe</h6>
					<p>Emmett is an attorney and partner with Riezman Berger, P.C., a law firm in Clayton, MO. His practice focuses on intellectual property, offering special services to the music, film, art and fashion communities. From 2008 to 2011, he served as a gubernatorial appointment to the Missouri Arts Council. A lifelong St. Louisan, Emmett became a Browns fan as a five-year-old in the mid-1960s when an older boy showed him a Browns baseball card.</p>
				</div>
				<div>
					<img src="{{ Config.cdn }}images/about-photo-vicki-martin.png" alt="" />
					<h6>Vicki Martin</h6>
					<p>Vicki Martin was a supervisor at the St. Louis Family Court – Juvenile Division for 38 years. As a director on the Browns Historical Society board, she is responsible for marketing the fan club services and products. Ms. Martin grew up in a baseball family and is the niece of former Browns player, Babe Martin. Babe played for six years, splitting time between the Browns and the Boston Red Sox.</p>
				</div>

			</div>

			<div class="grid">

				<div>
					<img src="{{ Config.cdn }}images/about-photo-fred-heger.png" alt="" />
					<h6>Fred Heger</h6>
					<p>Fred is a St. Louis native and a charter member of the St. Louis Browns Historical Society and Fan Club. As the predecessor to current president Bill Rogers, Fred wrote and edited many of the club’s publications. He has also served as the long-time treasurer of the Bob Broeg Chapter of the Society for American Baseball Research. A 1951 graduate of Washington University, Fred retired as an executive of Southwestern Bell Corporation in 1992 after more than 40 years of service.</p>
				</div>
				<div>
					<img src="{{ Config.cdn }}images/about-photo-bill-borst.png" alt="" />
					<h6>Bill Borst</h6>
					<p>A native New Yorker, Bill founded the St. Louis Browns Historical Society in 1984. He was the club&rsquo;s first president and launched many of its publications. Known as the &ldquo;Baseball Professor,&rdquo; Bill taught the first accredited baseball history course in the Midwest at Maryville College in 1973. He has previously hosted baseball call-in shows on WGNU radio and has written several non-fiction novels, including The Scorpion and the Frog: A Natural Conspiracy.</p>
				</div>
				<div>
					<img src="{{ Config.cdn }}images/about-photo-john-rappold.png" alt="" />
					<h6>John Rappold</h6>
					<p>John grew up on Chicago’s South Side near Comisky Park where he first saw the Browns play the White Sox. John moved to St. Louis in the late 1940s and attended many Browns and Cardinals games. After graduating from Washington University in 1960, he moved to Baltimore and became vice president of a major packaging company. John went on to engineer gypsum wallboard plants for a company in Charlotte, NC, before retiring and returning to St. Louis.</p>
				</div>

			</div>

		</div>

		<div class="hof grid grid-padded grid-middle">

			<div class="image">
				<img src="{{ Config.cdn }}images/about-stlsports-hof.png" alt="" />
			</div>
			<div>
				<h2>St. Louis Sports Hall of Fame</h2>
				<p>The St. Louis Browns Fan Club is honored to be a member of the St. Louis Sports Hall of Fame, which preserves the memories of the greatest moments and events in St. Louis sports history. Our extensive exhibit includes Browns uniforms, photos of games and players, pennants, and other memorabilia. See the St. Louis Browns exhibit at the St. Louis Sports Hall of Fame inside the Scottrade Center, home of the St. Louis Blues.</p>
			</div>

		</div>

		<img src="{{ Config.cdn }}images/bg/bg-about.png" alt="" class="bg" />

	</div>

	<div class="form dark">

		<div class="inner grid grid-padded grid-middle">
			<div>
				<h2>Become a member</h2>
				<p>By joining, you&rsquo;ll help support our organization&rsquo;s efforts to preserve the history of the St. Louis Browns. Fill out the form to the right, and someone from the Browns Historical Society will contact you to complete your membership.</p>
			</div>
			<div>
				<form id="contact" novalidate>
					<div class="form-group" data-required>
						<input id="name" name="name" type="text" placeholder="Your Name" />
					</div>

					<div class="form-group" data-required>
						<input id="email" name="email" type="email" placeholder="Email Address" />
					</div>

					<div class="form-group" data-required>
						<input id="phone" name="phone" type="text" placeholder="Phone Number" />
					</div>

					<div class="form-group" data-required>
						<textarea id="comment" name="comment" placeholder="Question/Comment"></textarea>
					</div>

					<button type="submit" class="submit">Submit</button>
				</form>
			</div>
		</div>

	</div>

	<div class="next-section">
		<h2>
			<a href="#/history">The History of the Browns &rarr;</a>
		</h2>
	</div>

</div>