<footer>
	
	<div class="inner">
		
		<div class="grid grid-middle">

			<div class="logo">
				<img src="/images/img-footer-logo.png" alt="" />
			</div>
			
			<div>
				<a href="#/">Home</a>
			</div>

			<div>
				<a href="#/history">history</a>
			</div>

			<div>
				<a href="#/players">Players</a>
			</div>

			<div>
				<a href="#/about">About</a>
			</div>

			<div>
				<a href="#/membership">Membership</a>
			</div>

			<div>
				<a href="#/news-and-events">News &amp; Events</a>
			</div>

			<div>
				<a href="#/contact">Contact</a>
			</div>

		</div>

	</div>

</footer>