<div class="page-title">
	<h1>Membership</h1>
</div>

<div class="content">

	<div class="top">
	
		<div class="intro">

			<h5>Membership Pledge</h5>
			<p>As a member of the St. Louis Browns Fan Club, I pledge to protect, preserve and promote the St. Louis Browns. I accept the duty to defend the honor of the Browns wherever it may be maligned and tell Browns stories wherever and whenever I can. I will exercise careful stewardship over Browns artifacts and memorabilia. I gladly accept the duty of preventing our Browns from ever becoming forgotten by future generations of baseball fans. </p>

		</div>
		
		<div class="membership-levels">

			<h2>Membership Levels</h2>
			<div class="grid grid-middle">
				<div class="icon">
					<img src="{{ Config.cdn }}images/member-level-bleed-brown.png" alt="Bleed Brown" />
				</div>
				<div><b>$100 per year*</b> // Includes membership ID card; an invitation to all Browns Historical Society activities, including the players dinner before the annual luncheon (extra fee); a subscription to Pop Flies, the St. Louis Browns magazine; a special issue of Pop Flies with highlights of the 70th anniversary of the ’44 World Series; a DVD of the 1944 World Series; your name listed on the donor honor roll; a Browns/Cardinals 70th anniversary World Series pennant.</div>
			</div>
			<div class="grid grid-middle">
				<div class="icon">
					<img src="{{ Config.cdn }}images/member-level-gold.png" alt="Gold" />
				</div>
				<div><b>$60 per year*</b> // Includes membership ID card; a subscription to Pop Flies, the St. Louis Browns magazine; a special issue of Pop Flies with highlights of the 70th anniversary of the ’44 World Series; historical search help; a Browns lapel pin; DVD highlights of the last member luncheon; your name listed on the donor honor roll.</div>
			</div>
			<div class="grid grid-middle">
				<div class="icon">
					<img src="{{ Config.cdn }}images/member-level-silver.png" alt="Silver" />
				</div>
				<div><b>$30 per year*</b> // Includes membership ID card; a subscription to Pop Flies, the St. Louis Browns magazine; historical search help; an invitation to Browns Historical Society activities (extra fees may apply).</div>
			</div>
			<div class="legal">*Membership fees are tax deductible. The St. Louis Browns Historical Society and Fan Club is a 501c3 organization.</div>

		</div>

		<img src="{{ Config.cdn }}images/bg/bg-membership.png" alt="" class="bg" />

	</div>
		
	<div class="form dark">

		<div class="inner grid grid-padded grid-middle">
			<div>
				<h2>Become a member</h2>
				<p>If you want to learn more about the St. Louis Browns, the Historical Society, membership, upcoming events, or any other related topic, please fill out the form below. Someone will get back to you shortly to discuss payment options.</p>
			</div>
			<div>
				<form id="contact" novalidate>
					<div class="form-group" data-required>
						<input id="name" name="name" type="text" placeholder="Your Name" />
					</div>
					
					<div class="form-group" data-required>
						<input id="email" name="email" type="email" placeholder="Email Address" />
					</div>

					<div class="form-group" data-required>
						<input id="phone" name="phone" type="text" placeholder="Phone Number" />
					</div>

					<div class="form-group select" data-required>
						<select name="memberlevel" id="membership-level">
							<option value="">Select membership level...</option>
							<option value="silver">Silver</option>
							<option value="gold">Gold</option>
							<option value="bleed-brown">Bleed Brown</option>
						</select>
					</div>

					<div class="form-group error">
						<p>All fields are required.</p>
					</div>

					<button type="submit" class="submit">Submit Membership Request</button>
				</form>
			</div>
		</div>

	</div>

	<div class="next-section">
		<h2>
			<a href="#/players">Browns Players &rarr;</a>
		</h2>
	</div>

</div>