<div class="border border-top"></div>
<div class="border border-right"></div>
<div class="border border-bottom"></div>
<div class="border border-left"></div>

<div class="inner">

	<div class="timeline-bar"></div>

	<section class="browns-town">

		<div class="content" data-theme="light" data-year="1902" data-section-title="Inaugural Season">
			<div class="grid section-1 contain grid-middle">

				<div class="grid-item">
					<img src="{{ Config.cdn }}images/history/the-early-years/img-1902.png" alt="" />
				</div>
				<div class="grid-item">
					<h2>Becoming A Browns Town</h2>
					<p>In 1902, the Milwaukee Brewers moved to St. Louis with carriage-maker Robert Lee Hedges as the new owner. The club joined the National League&rsquo;s Cardinals to become the town&rsquo;s second (and soon favorite) baseball team. St. Louis loved baseball, and baseball loved it back.</p>
					<p>Giving a nod to the Cardinals&rsquo; former moniker (the Brown Stockings, for the color they wore), Hedges named his team the Browns. Then, he pinched several of the Redbirds&rsquo; notable players, including 1901 batting champ Jesse Burkett, future Hall-of-Fame shortstop Bobby Wallace and three of their best pitchers. Hedges rebuilt Sportsman&rsquo;s Park, which was first erected in 1881, the former home of the St. Louis Cardinals.</p>
					<p>With this, the Browns&rsquo; legacy — and a hometown rivalry — began.</p>
				</div>

			</div>

			<div class="section-2">
				<h5>Inaugural Season</h5>
				<img src="{{ Config.cdn }}images/history/the-early-years/img-78-58.png" alt="" class="big-stuff" />
				<p>The Browns&rsquo; 1902 record. Good enough for second in the American League.</p>
				<p><a href="/#/" class="btn show-overlay" data-overlay="almost">The Story</a></p>
			</div>
		</div>

	</section>

	<section class="sportsmans-park dark">

		<div class="content">
			<div class="section-1 contain" data-theme="dark" data-year="1909" data-section-title="Sportsman&rsquo;s Park">
				<h2>Sportsman&rsquo;s Park III</h2>
				<p>A third grandstand was built in Sportsman&rsquo;s Park in 1909, with the diamond anchored at the southwest corner. It was also the third concrete-and-steel structure of its kind in the majors. Here, the Browns would beat out the Cardinals - in attendance.</p>
			</div>

			<div class="section-2"  data-theme="dark" data-year="1910" data-section-title="To the cellar">
				<h5>Loss Record</h5>
				<img src="{{ Config.cdn }}images/history/the-early-years/img-107.png" alt="" class="big-stuff" />
				<p class="center">The number of losses for the Browns, two years in a row. They finished 47-107 in 1910, and 45-107 in 1911.</p>
			</div>
		</div>

	</section>

	<section class="branch-rickey">
		<div class="content">
			<div class="section-1" data-theme="light" data-year="1910" data-section-title="THE TY COBB SCANDAL">
				<img src="{{ Config.cdn }}images/history/the-early-years/img-up-in-arms.png" alt="" class="big-stuff" />
				<p>St. Louis Post-Dispatch, October 1910, regarding Browns manager Jack O&rsquo;Connor&rsquo;s ploy to block Ty Cobb from the batting title</p>
				<p><a href="/#/" class="btn show-overlay" data-overlay="ty-cobb">The Story</a></p>
			</div>

			<div class="section-2 contain" data-theme="light" data-year="1914" data-section-title="BRANCH RICKEY AS MANAGER">
				<h2>Branch Rickey</h2>
				<p>In his first full season as the club&rsquo;s manager (1914), Branch Rickey helped the team improve their record to 71-82. The following year, Rickey left the field for the front office, transferring managing duties to Fielder Jones. Also in 1915, Rickey signed George Sisler to the Browns — perhaps the best thing to ever happen to the team.</p>
			</div>
		</div>
	</section>

	<section class="phil-ball dark">
		<div class="content">

			<div class="grid grid-middle contain section-1" data-theme="dark" data-year="1916" data-section-title="Phil Ball">
				<div class="grid-item">
					<img src="{{ Config.cdn }}images/history/the-early-years/img-newspaper-clip.png" alt="" />
				</div>
				<div class="grid-item">
					<h2>Sold To Ball</h2>
					<p>In 1916, owner Robert Hedges sold the team to Philip Ball, previously the owner of the St. Louis Terriers (of the defunct Federal League).</p>
				</div>
			</div>

			<img src="{{ Config.cdn }}images/history/the-early-years/img-wwi-interlude.png" alt="" class="wwi-interlude" />

			<div class="section-2" data-theme="dark" data-year="1916-1922" data-section-title="Ball&rsquo;s Blunders">
				<img src="{{ Config.cdn }}images/history/the-early-years/img-balls-blunders.png" alt="" />

				<h5>Blunder 1</h5>
				<p>Fired Branch Rickey, who subsequently turned the Cardinals into one of baseball&rsquo;s premier teams, and later made history when he signed Jackie Robinson to the Brooklyn Dodgers.</p>

				<h5>Blunder 2</h5>
				<p>Allowed the Cardinals to share Sportsman&rsquo;s Park, freeing up enough funds for the Cards to build a farm system. </p>

				<h5>Blunder 3</h5>
				<p>Spent capital expanding Sportsman&rsquo;s Park in 1922, predicting a World Series there by 1926. Indeed, it came&hellip; but not for the Browns. The Cardinals faced the Yankees in the &lsquo;26 Fall Classic, and won.</p>
			</div>
		</div>
	</section>

	<section class="sizzlin-sisler">
		<div class="content">

			<div class="section-1" data-theme="light" data-year="1920" data-section-title="SIZZLIN&rsquo; SISLER">
				<h5>Sizzlin&rsquo; Sisler</h5>
				<img src="{{ Config.cdn }}images/history/the-early-years/img-407-257.png" alt="" class="big-stuff" />
				<p>George Sisler&rsquo;s batting average and number of hits in 1920. The latter was a major league record for 84 years.</p>
			</div>

			<div class="section-2 contain" data-theme="light" data-year="1922" data-section-title="The Hot Squad">
				<h2>The Hot Squad</h2>
				<p>In 1922, the Browns outfield was on fire. Ken Williams, Baby Doll Jacobson and Jack Tobin were all .300 or better, for the 4th season in a row. (They&rsquo;d continue the streak in 1923, and repeat the feat in 1925.) Williams not only led the league in RBIs and beat out Babe Ruth for the home run title, he was the founding member of the 30-30 Club — and the only member in the majors until 1956.</p>
				<p>That&rsquo;s not all. With a .420 average, future Hall-of-Famer George Sisler&rsquo;s bat was hotter than lightning. He hit safely in 41 consecutive games, stole 51 bases, and became the first official MVP for the American League. </p>
				<p>Further contributions to the Browns&rsquo; best-ever 93-61 record: Sisler and Williams were the top two base-stealers; Urban Shocker tallied up 24 Ws as his compatriots on the mound helped earn the league&rsquo;s lowest combined ERA.</p>
			</div>
		</div>
	</section>

	<section class="hot-squad">
		<div class="content">
			<h5>The Hot Squad</h5>
			<img src="{{ Config.cdn }}images/history/the-early-years/img-stlb-nyy.png" alt="" class="big-stuff" />
			<p>One more win and the Browns would&rsquo;ve tied the Yanks for the 1922 AL pennant.</p>
		</div>
	</section>

	<a href="/#/history/the-bottom-dwellers">
		<section class="next-section" data-theme="">
			<div class="content">
				<p>Chapter 2</p>
				<h2>The Bottom Dwellers <span>&rarr;</span></h2>
				<p>1926-1941</p>
			</div>
		</section>
	</a>
</div>