<div class="border border-top"></div>
<div class="border border-right"></div>
<div class="border border-bottom"></div>
<div class="border border-left"></div>

<div class="inner">

	<div class="timeline-bar"></div>

	<section class="roosevelt">

		<div class="content">
			<div class="section-1 contain" data-theme="light" data-year="1942" data-section-title="Honesty">
				<img src="{{ Config.cdn }}images/history/the-war-years/img-honestly.png" alt="" />
				<p class="attr">President Franklin D. Roosevelt</p>
			</div>

			<div class="section-2">
				<div class="grid grid-middle contain">
					
					<div class="text">
						<p>The first World War had prematurely ended the 1918 baseball season, and many feared World War 2 would do the same. On January 15, 1942, President Roosevelt responded to a plea from Commissioner Kenesaw Mountain Landis, in what was come to be known as the &lsquo;Green Light Letter.&rdquo; Not only did he ensure the continuation of wartime baseball, he also pushed for more night games to give the hard-working people behind the war production effort a well-deserved break.</p>
					</div>

					<div>
						<img src="{{ Config.cdn }}images/history/the-war-years/img-letter.png" alt="" />
					</div>

				</div>
			</div>

			<div class="section-3 contain" data-theme="light" data-year="1942" data-section-title="Building a Winner">
				<h2>Building a Winner</h2>
				<p>With the go-ahead to keep playing, Luke Sewell got surgical with his 1942 roster. He got rid of lazy players and weak bats. He signed promising rookies. And he traded for veterans with positive attitudes and overlooked power. Some of the gems Sewell brought on board included Don Gutteridge, Vern Stephens, Ellis Clary, Steve Sundra, and Al Hollingsworth.</p>
				<p>The Browns lost some players to the war effort, but they didn&rsquo;t lose star-level power like Joe Dimaggio, Hank Greenberg or Ted Williams. So, as the other teams in the league said goodbye to their key players, the Browns&rsquo; chances of winning got better and better.</p>
			</div>

			<div class="section-4">
				<h5>1942 SEASON</h5>
				<img src="{{ Config.cdn }}images/history/the-war-years/img-82-69.png" alt="" class="big-stuff">
				<p>The 1942 Browns brought home the team&rsquo;s first winning season since 1929.</p>
			</div>
		</div>

	</section>

	<section class="cold-springs dark">
		
		<div class="content">
			<div class="section-1 contain" data-theme="dark" data-year="1943" data-section-title="Cold Springs">
				<h2>Cold Springs</h2>
				<p>From 1943 to 1945, Commissioner Landis required all Major League Teams to stay close to home for spring training, explaining that long-distance travel resources were best left to those involved in the war effort. The Browns trained just 100 miles south of St. Louis in Cape Girardeau, Missouri. Theirs was a much better plight than the many northeast teams, who made training grounds out of airport hangars, horse stables, hotel rooms, and — when the baseball fields were too frosty — golf fairways.</p>
			</div>

			<div class="section-2" data-theme="dark" data-year="1943" data-section-title="Balata Ball">
				<div class="grid grid-middle contain">
					
					<div class="text">
						<h2>Balata Ball</h2>
						<p>Rubber was in high demand for the war, so regular baseballs got the shaft. For the 1943 season, major leaguers had to play with a &lsquo;balata ball,&rsquo; which had a hard plastic core and didn&rsquo;t travel as far. Lower scoring games were common. Batters were not thrilled.</p>
					</div>

					<div>
						<img src="{{ Config.cdn }}images/history/the-war-years/img-ball.png" alt="" />
					</div>

				</div>
			</div>
		</div>

	</section>

	<section class="infield">
		
		<div class="content">
			
			<div class="section-1 contain" data-theme="light" data-year="1944" data-section-title="All 4-F Infield">
				<h2>All 4-F Infield</h2>
				<p>Every player on the 1944 Browns infield was 4-F, or excused from military service for one reason or another.</p>

				<img src="{{ Config.cdn }}images/history/the-war-years/img-infield.png" alt="" />
			</div>

			<div class="section-2">
				<h2>9 Straight W&rsquo;s</h2>
				<p>The Browns opened the 1944 season with a bang — or a crack — or a whopping, righteous blast — nine straight wins.</p>
			</div>

			<div class="section-3">
				<h2>Almost Perfect</h2>
				<p>On May 26, 1944, Nels Potter retired 23 batters in a row. Sadly, Jim Tabor, of the opposing Red Sox, got a hit in the 8th to dash Potter&rsquo;s hopes of a perfect game.</p>
			</div>

			<div class="section-4 contain" data-theme="light" data-year="1944" data-section-title="The 1st Illegal Pitcher">

				<div class="grid grid-middle">
					
					<div class="image">
						<img src="{{ Config.cdn }}images/history/the-war-years/img-pitcher.png" alt="" />
					</div>

					<div>
						<h2>The 1st Illegal Pitcher</h2>
						<p>Browns pitcher Nels Potter was caught &lsquo;moistening his fingers&rsquo; before every pitch in a game against the Yankees on July 20, 1944. He was suspended for 10 games, becoming the first player in MLB history to be suspended for throwing an illegal pitch.</p>
					</div>

				</div>
				
			</div>

		</div>

	</section>

	<section class="scrabeenies dark">
		
		<div class="content">
			
			<div class="section-1" data-theme="dark" data-year="1944" data-section-title="Scrabeenies">
				<div class="contain">
					<h2>Scrabeenies</h2>
					<p>Ellis Clary crowned himself the &ldquo;manager&rdquo; of the Browns&rsquo; backup players, who called themselves the scrabeenies. Most of these utility guys didn&rsquo;t show their stuff when given the chance. But Al Zarilla went 2 for 2 in a July game against the Red Sox, earning himself a more frequent spot in the lineup for the remainder of the season. Soon after, this former scrabeenie pounded out an 11-game hitting streak.</p>
				</div>
			</div>

			<div class="section-2">
				<img src="{{ Config.cdn }}images/history/the-war-years/img-25000.png" alt="" class="big-stuff" />
				<p class="contain">Every major league team was required to host one game where all net proceeds would be given to a national war relief organization. On July 26, 1944, the Browns played the Philadelphia Athletics — in front of their biggest crowd since their first night game in 1940 — and raised $25,000.</p>
			</div>

			<div class="section-3" data-theme="dark" data-year="1944" data-section-title="70 Days In First">
				<h2>70 Days in 1st</h2>
				<p>On August 8th, the Browns broke their previous record, set in 1922, for consecutive days leading the American League.</p>
			</div>

			<div class="section-4 contain" data-theme="dark" data-year="1944" data-section-title="Fight!">
				
				<div class="grid grid-padded grid-middle">
					
					<div>
						<img src="{{ Config.cdn }}images/history/the-war-years/img-fight.png" alt="" class="flush-bottom" />
					</div>

					<div>
						<p class="flush-bottom">On September 21, 1944, the Browns were in the last game of the last series against the Senators. A fight broke out between Browns catcher Tom Turner and Senators outfielder Roberto Ortiz. The Senators would go on to play the Tigers, who the Browns were racing for first-place. So, when Ortiz broke his hand in the fight with Turner, the Browns weren&rsquo;t too happy about it, either.</p>
					</div>

				</div>

			</div>

			<div class="section-5" data-theme="dark" data-year="1944" data-section-title="The Heat Is On">
				
				<img src="{{ Config.cdn }}images/history/the-war-years/img-84-64.png" alt="" class="big-stuff" />
				<p>The Browns and the Tigers were tied for first with an identical record. There were 6 games left in the season. The heat was on.</p>

			</div>

		</div>

	</section>

	<section class="pennant">
		
		<div class="content" data-theme="light" data-year="1944" data-section-title="The Clincher">
			
			<img src="{{ Config.cdn }}images/history/the-war-years/img-clincher.png" alt="" class="big-stuff" />

			<div class="section-1">
				<div class="highlight">
					<h5>Highlight 1</h5>
					<p>Wild man Sig Jakucki took the mound for the Browns.</p>
				</div>
				<div class="highlight">
					<h5>Highlight 2</h5>
					<p>He retired the first two Yanks.</p>
				</div>
				<div class="highlight">
					<h5>Highlight 3</h5>
					<p>The Browns were hitless through the third. Key errors put the Yankees up 2-0.</p>
				</div>
				<div class="highlight">
					<h5>Highlight 4</h5>
					<p>Chet Laabs crushed a fastball over the bleachers to tie the game.</p>
				</div>
			</div>

			<img src="{{ Config.cdn }}images/history/the-war-years/img-scoreboard.png" alt="" class="big-stuff" />

			<div class="section-2" data-theme="light" data-year="1944" data-section-title="The Fighten’st Team Ever To Wear A Uniform!">
				<div class="highlight">
					<h5>Highlight 5</h5>
					<p>Bottom 5, Laabs was up for his third at-bat, and ripped another 2-run homer.</p>
				</div>
				<div class="highlight">
					<h5>Highlight 6</h5>
					<p>In the remaining innings, Jakucki only allowed one more batter to reach 3rd.</p>
				</div>
				<div class="highlight">
					<h5>Highlight 7</h5>
					<p>The Browns led 5-2 into the ninth. Johnny Lindell blasted a pitch from Jakucki, but it was caught for a long out by Browns right fielder Gene Moore. The crowd exhaled.</p>
				</div>
				<div class="highlight">
					<h5>Highlight 8</h5>
					<p>Down to the final out, Oscar Grimes spikes a high fly ball into foul territory. Browns first baseman George McQuinn finds it in his glove.</p>
				</div>
			</div>

			<img src="{{ Config.cdn }}images/history/the-war-years/img-pennant.png" alt="" class="big-stuff" />

		</div>

	</section>

	<section class="street-car dark">
		
		<div class="content">
			
			<div class="section-1" data-theme="dark" data-year="1944" data-section-title="The Streetcar Series">
				<img src="{{ Config.cdn }}images/history/the-war-years/img-streetcar.png" alt="" class="big-stuff" />
			</div>

			<div class="section-2">
				
				<img src="{{ Config.cdn }}images/history/the-war-years/img-world-series.png" alt="" class="big-stuff" />
				<p>Stan Musial, St. Louis Cardinals</p>

			</div>

			<div class="section-3">
				
				<div class="grid contain grid-middle" data-theme="dark" data-year="1944" data-section-title="Shared Turf">
					
					<div>
						<h2>Shared Turf</h2>
						<p>The Cardinals and the Browns both called Sportsman&rsquo;s Park home. So, both teams would have the home team advantage&hellip; The Cards for the first two and the last two games, and the Browns for the three in the middle.</p>
						<p>The teams shared more than just the stadium. Luke Sewell and Cardinals manager Billy Southworth shared an apartment in St. Louis. They agreed that Sewell would stay there during the Series, and Southworth would reside at a hotel until it was over.</p>
					</div>

					<div class="image">
						<img src="{{ Config.cdn }}images/history/the-war-years/img-poster.png" alt="" />
					</div>

				</div>

			</div>

			<div class="section-4" data-theme="dark" data-year="1944" data-section-title="The World Series">

				<div class="carousel">
					<div class="arrow-right"><img src="{{ Config.cdn }}images/arrow-right.png" alt="" /></div>
					<div class="arrow-left"><img src="{{ Config.cdn }}images/arrow-left.png" alt="" /></div>
					<div class="slides">
						<div class="slide">
							<div class="wrapper">
								<img src="{{ Config.cdn }}images/history/the-war-years/img-game-1.png" alt="" />
								<p>No player on the 1944 Browns roster had ever made it to a World Series. The veteran Cardinals were favored to win, but the Browns didn&rsquo;t care. They came out with a fighting spirit. Denny Galehouse out-pitched Mort Cooper and the Cardinals. George McQuinn hit a two-run jack in the fourth inning. And the Browns won it, 2-1.</p>
							</div>
						</div>
						<div class="slide">
							<div class="wrapper">
								<img src="{{ Config.cdn }}images/history/the-war-years/img-game-2.png" alt="" />
								<p>The Browns were hoping luck stayed on their side. Missouri Senator, Democratic Party vice presidential nominee and future president Harry S. Truman was in the audience. The St. Louis Beer Company had given each player a silver horseshoe to hang over their lockers. However, Nelson Potter, who normally didn&rsquo;t shave before he started a game, took the mound clean-shaven. </p>
								<p>The Cardinals led 2-0 through the 6th, thanks to Blix Donnelly&rsquo;s stellar arm and a series of errant defensive plays. With 2 outs in the 7th, the Browns tied it up. The game stretched until the 11th, when Cardinals backup catcher and pinch hitter Ken O&rsquo;Dea hit a game-winning RBI single to end the game. </p>
							</div>
						</div>
						<div class="slide">
							<div class="wrapper">
								<img src="{{ Config.cdn }}images/history/the-war-years/img-game-3.png" alt="" />
								<p>Still at Sportsman&rsquo;s Park, but now the Browns were the home team. The advantage served them well — Browns pitcher Jack Kramer gave up only 7 hits, and struck out 10 batters.</p>
								<p>It wasn&rsquo;t all smooth sailing, though. Browns shortstop Vern Stephens booted a ground ball, resulting in a two-base error that eventually let the Cards score 1 in the first. The Browns came up empty-handed in the second inning with a bases-loaded strikeout. </p>
								<p>The Browns seemed to crack the code in the third, playing small ball and scoring 3 on singles, eventually landing a 6-2 victory. To that point, all of the Browns&rsquo; 10 runs in the series had been scored on 2 outs. </p>
							</div>
						</div>
						<div class="slide">
							<div class="wrapper">
							<img src="{{ Config.cdn }}images/history/the-war-years/img-game-4.png" alt="" />
								<p>The Cardinals had Sig Jakucki&rsquo;s number for Game 4. The 35-year-old pitcher had been out of baseball for 5 years prior to the 1944 season, but he&rsquo;d still brought in 13 wins that year. But most of this game was robbery.</p> 
								<p>Stan Musial took a big cut at a low fastball, and sent it out of the park. Double plays and an over-the-shoulder catch suffocated the Browns offense. And an error made it 4-0, Cardinals, in the 3rd. Jakucki was pulled in the bottom of that inning. Outfielder Chet Laabs hit into a double play that scored the Browns&rsquo; one and only run, and the Redbirds went on to win it 5-1.</p>
							</div>
						</div>
						<div class="slide">
							<div class="wrapper">
								<img src="{{ Config.cdn }}images/history/the-war-years/img-game-5.png" alt="" />
								<p>With the series tied 2-2, the Browns were hoping that the Galehouse-Cooper matchup would be a repeat of their success in the first game. Through 5, it was a pitcher&rsquo;s duel, with no hits for either team. </p>
								<p>Then, Ray Sanders hit a solo shot onto the right field roof — the first homer Galehouse had allowed since August 6th. Galehouse took it in stride, until Danny Litwhiler followed suit in the 8th. Cooper&rsquo;s pitching struck out 12 men, just one shy of the record at the time, as he shut out the Browns, 2-0.</p> 
							</div>
						</div>
						<div class="slide">
							<div class="wrapper">
								<img src="{{ Config.cdn }}images/history/the-war-years/img-game-6.png" alt="" />
								<p>It was a frosty night. Nelson Potter was back on the Browns mound, and Max Lanier threw for the Cards (who were the home team once again). The Browns took an early lead in the second within RBI single by George McQuinn, but they couldn&rsquo;t hold on to the lead. A walk and a handful of singles put the Cardinals on top in the fourth inning, and that&rsquo;s where they stayed. The Browns said goodbye to their &ldquo;Cinderella season,&rdquo; and their last-ever appearance in a World Series, with a 3-1 loss.</p>
							</div>
						</div>
					</div>
				</div>

			</div>

		</div>

	</section>

	<section class="war-ends">
		
		<div class="content">
			
			<div class="section-1" data-theme="light" data-year="1946" data-section-title="The War Ends">
				<img src="{{ Config.cdn }}images/history/the-war-years/img-1945.png" alt="" class="big-stuff" />
				<div class="contain">
					<p>Although the Browns didn&rsquo;t win the World Series, they unbelievably captured the 1944 pennant. The next year, they still had enough steam to contend in the pennant race, finishing 6 games back to take 3rd in the American League. Also in 1945, Don Barnes sold the Browns to Richard Muckerman.</p>
				</div>
			</div>

			<div class="section-2 contain">
				<div class="grid grid-padded grid-middle">
					<div class="grid-item image">
						<img src="{{ Config.cdn }}images/history/the-war-years/img-crowd.png" alt="" />
					</div>
					<div class="grid-item">
						<h2>THE WAR ENDS</h2>
						<p>Many of the baseball greats who had gone off to serve in World War II had returned home for the 1946 season, and were returning to the field. The rest of the league&rsquo;s talent was replenished, and the Browns&rsquo; best years were put behind them. The 1947 and 1948 seasons saw the Browns&rsquo; return to an ever-so-familiar place — last in the American League. Both years ended with 59 wins and more than 90 losses.</p>					
					</div>
				</div>
			</div>

		</div>

	</section>

	<a href="/#/history/the-bill-veeck-era">
		<section class="next-section" data-theme="">
			<div class="content">
				<p>Chapter 4</p>
				<h2>The Bill Veeck Era <span>&rarr;</span></h2>
				<p>1949-1953</p>
			</div>
		</section>
	</a>
</div>