<div class="border border-top"></div>
<div class="border border-right"></div>
<div class="border border-bottom"></div>
<div class="border border-left"></div>

<div class="inner">

	<div class="timeline-bar"></div>

	<section class="cardinals">

		<div class="content">
			<div class="grid grid-middle grid-padded section-1 contain" data-theme="light" data-year="1926" data-section-title="Cardinals Win World Series">

				<div class="grid-item">
					<h2>Painting the Town Red</h2>
					<p>The 1926 World Series in Sportsman&rsquo;s Park saw the Cardinals beat the Yankees. This resulted in a fanbase coup — the Redbirds went on to win (or, win back) the hearts of local baseball fans. No longer was St. Louis a &ldquo;Browns Town.&rdquo;</p>
				</div>

				<div class="grid-item image">
					<img src="/images/history/the-bottom-dwellers/img-score-card.png" alt="" />
				</div>

			</div>
			
			<div class="section-2" data-theme="light" data-year="1926-27" data-section-title="Browns lose 90 games">
				<h5>90-loss Seasons</h5>
				<img src="/images/history/the-bottom-dwellers/img-26-27.png" alt="" class="big-stuff" />
				<p>The Browns had two 90-loss seasons in a row — 92 in 1926, and 94 in 1927. Not surprisingly, they finished in seventh place both times.</p>
			</div>

			<div class="section-3" data-theme="light" data-year="1929" data-section-title="Manush hits .355">
				<img src="/images/history/the-bottom-dwellers/img-choke-up.png" alt="" />
				<p>Ty Cobb gave this fine piece of advice to Browns outfielder Heinie Manush in 1929. It must have done some good, because Manush averaged .355 that year, helping the Browns record their second straight winning season (79-73).</p>
			</div>
		</div>

	</section>

	<section class="attendance-woes dark">
		
		<div class="content">
			<div class="section-1" data-theme="dark" data-year="1933" data-section-title="just 33 attend Browns game">
				<h5>Attendance Woes</h5>
				<img src="/images/history/the-bottom-dwellers/img-33.png" alt="" class="big-stuff" />
				<p class="contain">After a string of years with 90+ losses, the Browns played one game for just 33 paying fans. The club faced a catch 22: they needed good players to attract a crowd, but they needed a crowd to afford good players.</p>
			</div>

			<div class="section-2 contain" data-theme="dark" data-year="1933" data-section-title="Browns tab hornsby">
				
				<div class="grid grid-padded grid-middle">
					
					<div class="image">
						<img src="/images/history/the-bottom-dwellers/img-card-back.png" alt="" />
					</div>

					<div>
						<h2>The Rajah</h2>
						<p>Phil Ball picked up Rogers Hornsby as player-manager in 1933, trying to lure Cardinals fans to Browns games. Hornsby holds the second best career batting average of all time (surpassed only by Ty Cobb). Despite his prowess, &ldquo;The Rajah&rdquo; didn&rsquo;t put himself in the lineup enough to scoop the Browns out of what would become a decade-long losing streak. However, he did hit the last home run of his career as a Brownie, helping his team beat the White Sox in a rare 15-10 victory.</p>
					</div>

				</div>

			</div>

			<div class="section-3" data-theme="dark" data-year="1935" data-section-title="Record low attendance">
				
				<h5>Another depressing low</h5>
				<img src="/images/history/the-bottom-dwellers/img-80000.png" alt="" class="big-stuff" />
				<p class="contain">The depths of the Great Depression brought another famous low — the Browns&rsquo; worst single-season attendance record, woefully attained in 1935. This record still stands as a major league low.</p>

			</div>
		</div>

	</section>

	<section class="barnes-dewitt">

		<div class="content">
			<div class="section-1" data-theme="light" data-year="1936" data-section-title="Barnes &amp; Dewitt Buy Browns">
				
				<div class="grid grid-padded grid-middle contain">									
					<div>
						<h2>Barnes &amp; Dewitt</h2>
						<p>New ownership took hold of the team in 1936 — Donald Lee Barnes became the majority stockholder and owner, and Bill DeWitt, Sr., became minority owner and general manager. The first few years remained rocky, but an upswing was on its way.</p>
						<div class="note">
							<img src="{{ Config.cdn }}images/history/after-the-browns.png" alt="" class="show-overlay" data-overlay="dewitt" />
						</div>
					</div>
					<div>
						<img src="/images/history/the-bottom-dwellers/img-dewitt.png" alt="" />
					</div>
				</div>

			</div>

			<div class="section-2 contain" data-theme="light" data-year="1939" data-section-title="Browns All-time worst record">
				<h5>All-time worst</h5>
				<img src="/images/history/the-bottom-dwellers/img-43-111.png" alt="" class="big-stuff" />
				<p class="contain">The Browns&rsquo; all-time worst record put them 64 and a half games out of first for the 1939 season. The pitching staff’s combined ERA was 6.01, which could have been the main culprit.</p>
			</div>
			
			<div class="section-3 contain" data-theme="light" data-year="1941" data-section-title="Attack on pearl harbor">
				
				<h2>Disastrous Timing</h2>
				<p>Owner Don Barnes was trying to move the team to Los Angeles, hoping for a better financial outlook. A league meeting to bestow final approval was slated for December 8th, 1941. The attack on Pearl Harbor happened on December 7th. Needless to say, the meeting didn’t happen, and the team stayed put.</p>

			</div>
		</div>
	</section>

	<section class="rebuilding dark" data-theme="dark" data-year="1941" data-section-title="Browns Rebuild">

		<div class="content">
			
			<img src="/images/history/the-bottom-dwellers/img-rebuilding.png" alt="" class="big-stuff" />
			<p class="contain">New manager Luke Sewell establishes a rebuilding program in 1941. This would be the chance the Browns had always been waiting for.</p>
			
		</div>

	</section>

	<a href="/#/history/the-war-years">
		<section class="next-section" data-theme="">
			<div class="content">
				<p>Chapter 3</p>
				<h2>The War Years <span>&rarr;</span></h2>
				<p>1942-1946</p>
			</div>
		</section>
	</a>
</div>