<div class="border border-top"></div>
<div class="border border-right"></div>
<div class="border border-bottom"></div>
<div class="border border-left"></div>

<div class="inner">

	<div class="timeline-bar"></div>

	<section class="dewitt-brothers">

		<div class="content">
			<div class="section-1 contain" data-theme="light" data-year="1948" data-section-title="The Dewitt Bros. buy the browns">

				<h2>The DeWitt Brothers</h2>
				<p>Owner Richard Muckerman had proven to be ineffective during his 4 seasons as owner (1945-1948). This was quite a disappointment, following the Browns&rsquo; 1944 pennant victory. In hopes to resurrect the team&rsquo;s potential, Bill DeWitt and his brother, Charlie, bought the Browns club after the 1948 season.</p>

			</div>
			
			<div class="section-2 contain" data-theme="light" data-year="1949" data-section-title="Browns lose 90 games">
				<div class="grid grid-middle">
					<div>
						<img src="{{ Config.cdn }}images/history/the-veeck-era/img-senators.jpg" alt="" />
					</div>
					<div>
						<h2>Better Than the Senators</h2>
						<p>That was about the only recognition the Browns could muster up for the &lsquo;49 season. They finished in 7th place with a 53-101 record, just a few games better than the 50-104 Washington Senators.</p>
					</div>
				</div>
			</div>
		</div>

	</section>

	<section class="veeck-background dark">
		
		<div class="content">
			<div class="section-1 contain" data-theme="dark" data-year="1950" data-section-title="Bill Veeck buys the Browns">
				<img src="{{ Config.cdn }}images/history/the-veeck-era/img-quote-beautiful.png" alt="" />
				<p class="attr">- Bill Veeck</p>
			</div>

			<div class="section-2 contain">
				<h2>Bill Veeck: Background</h2>
				<p>The DeWitts sold the Browns to Bill Veeck in 1951. Veeck was coming off the best and most tumultuous times of his life. He&rsquo;d signed the first black player to the American League in 1947. A year later, he signed Satchel Paige, the oldest rookie in the majors. He also led the Cleveland Indians to the team&rsquo;s first pennant and World Series title since 1920. Sadly, his first wife divorced him in 1949. Strapped for cash, he sold the Indians.</p>
				<p>Things were on the upswing for him by 1950 — he married his new true love, Mary Frances Ackerman, and bought 80% stake in the Browns organization.</p>

				<div class="note">
					<img src="{{ Config.cdn }}images/history/after-the-browns.png" alt="" class="show-overlay" data-overlay="veeck" />
				</div>
			</div>

			<div data-theme="dark" data-year="1951" data-section-title="Veeck competes with Cardinals">
				<div class="section-3 contain">
					
					<div class="grid grid-middle">
						
						<div>
							<img src="{{ Config.cdn }}images/history/the-veeck-era/img-program.png" alt="" />
						</div>
						<div>
							<h2>Two&rsquo;s a Crowd</h2>
							<p>Since Day 1, Bill Veeck saw the Cardinals as a threat, not just a friendly rivalry. He tried to push them out — or at least stir up some drama at their shared home park. Veeck brought three former Cardinals over to the Browns: Rogers Hornsby and Marty Marion as coaches, and Dizzy Dean as announcer. He also decorated Sportsman&rsquo;s Park solely with Browns memorabilia.</p>
						</div>

					</div>

				</div>

				<div class="section-4 contain">
					<img src="{{ Config.cdn }}images/history/the-veeck-era/img-quote-argyin.png" alt="" />
					<p class="attr">- Dizzy Dean</p>
				</div>
			</div>
		</div>

	</section>

	<section class="free-beer">
		<div class="content">
			<div class="section-1 contain" data-theme="light" data-year="1951" data-section-title="Free Beer Night">
				<h2>Free Beer</h2>
				<p>For his first game as owner, Bill Veeck gave everyone in the ballpark a free beer or soda. Just imagine what he&rsquo;d think of ballpark prices today.</p>
			</div>

			<div data-theme="light" data-year="1951" data-section-title="Eddie Gaedal walks">
				<div class="section-2 contain">
					<div class="grid grid-middle grid-padded">
						<div class="image">
							<img src="{{ Config.cdn }}images/history/the-veeck-era/img-1-8.png" alt="" />
						</div>
						<div>
							<p>Of all of Veeck&rsquo;s radical promotions — or, in his eyes, creative ways to attract a much-needed crowd — this little one left a big impact on fans&rsquo; memories. Eddie Gaedel, standing just 3-foot-7, appeared as a pinch hitter on August 19, 1951. Wearing the number ⅛ on a jersey made for Bill DeWitt&rsquo;s son, Gaedel drew four straight balls. His strike zone was tiny, as were his legs. He was replaced by a pinch runner, but his 1.000 career on-base percentage remains in tact.</p>						
						</div>
					</div>
				</div>
				
				<div class="section-3">
					<h5>A small threat</h5>
					<img src="{{ Config.cdn }}images/history/the-veeck-era/img-1000000.png" alt="" />
					<p>The life insurance policy Bill Veeck took out for Eddie Gaedel. Veeck threatened Gaedel with his life if he dared to swing the bat.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="dreamers dark">
		<div class="content">
	
			<div data-theme="dark" data-year="1951" data-section-title="Fans manage from stands">
				<div class="section-1 contain">
					<img src="{{ Config.cdn }}images/history/the-veeck-era/img-quote-dreamers.png" alt="" />
					<p class="attr">- Bill Veeck</p>
				</div>
				
				<div class="section-2 contain">
					<div class="grid grid-padded grid-middle">
						<div class="image">
							<img src="{{ Config.cdn }}images/history/the-veeck-era/img-grandstand.jpg" alt="" />
						</div>
						<div>
							<h2>Grandstand Manager&rsquo;s Day</h2>
							<p>No, the managers weren&rsquo;t in the stands. No, the grandstands didn&rsquo;t have a new manager. Indeed, Bill Veeck appointed the fans in the grandstand to make managerial decisions throughout the game. They would vote on whether a player should bunt, steal a base, change pitchers, and more, by holding up signs that read “YES” or “NO.” The Browns went on to win that game 5-3, breaking their 4-game losing streak.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="california">
		<div class="content">

			<div class="section-1 contain" data-theme="light" data-year="1952" data-section-title="Veeck attempts move to L.A.">
				<h2>California or Bust</h2>
				<p>Despite all of his efforts to bring in a crowd, Bill Veeck couldn&rsquo;t bring home enough wins. The 1951 season ended with a 52-102 record. The &lsquo;52 season was just a shade better at 64-90. Veeck tried to move the Browns to Los Angeles, but with most other teams in the Midwest or on the East Coast, the travel expenses — and the ire of other team owners — were too much for MLB execs to approve it.</p>
			</div>
			
			<div class="section-2 contain" data-theme="light" data-year="1953" data-section-title="Anheuser-Busch buys Cardinals">
				<div class="grid grid-padded grid-middle">
					<div class="image">
						<img src="{{ Config.cdn }}images/history/the-veeck-era/img-anheuser.png" alt="" />
					</div>
					<div>
						<h2>How Beer Wrecked Veeck</h2>
						<p>Cardinals owner Fred Saigh was forced to sell the team after he was convicted of income tax evasion. It looked like Veeck had won&hellip; until August Busch, Jr., owner of Anheuser-Busch, came to bat for the Redbirds. Veeck knew the Cardinals were here to stay, and he was no match for the financial, political and social power of the Busch family.</p>
					</div>
				</div>
			</div>

			<div class="section-3 contain" data-theme="light" data-year="1953" data-section-title="Veeck sells Park to Cards">
				
				<img src="{{ Config.cdn }}images/history/the-veeck-era/img-quote-villian.png" alt="" />
				<p class="attr">– Bill Veeck in his autobiography, Veeck – As In Wreck: The Autobiography of Bill Veeck</p>
				<p>Veeck was running out of options, and running out of cash. He sold Sportsman&rsquo;s Park to August Busch, Jr., for $800,000 during the 1953 season.</p>

			</div>

			<div class="section-4 contain" data-theme="light" data-year="1953" data-section-title="Browns Sold and moved to Baltimore">
				
				<h2>Baltimore-Bound</h2>
				<p>Bill Veeck wanted to move the team to Baltimore. But the American League decision-makers were still so riled up about Veeck&rsquo;s antics, they denied the transfer. It&rsquo;s not that they didn&rsquo;t want the team to move — they simply didn&rsquo;t want Veeck in Baltimore. Veeck&rsquo;s only move was to sell all of his shares to a Baltimore attorney and baseball-lover, Clarence Miles.</p>

			</div>
		</div>
	</section>

	<section class="final dark" data-theme="dark" data-year="1953" data-section-title="The End">
		
		<div class="content">
			<div class="contain">
				<img src="{{ Config.cdn }}images/history/the-veeck-era/img-final-tally.png" alt="" />
			</div>
		</div>

	</section>

	<a href="/#/players">
		<section class="next-section" data-theme="" data-year="" data-section-title="">
			<div class="content">
				<p>More Browns History</p>
				<h2>See The Players &rarr;</h2>
			</div>
		</section>
	</a>

</div>