


/* //////////// */
/* Page title object */

.page-title {
	
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	color: $dark-brown;
	padding: 93.5px 0;

	@include media-query(medium) {

		padding: $base-spacing-unit 0;
		font-size: 0.875em;
	}

	@include media-query(large) {

		padding: 143.5px 0;
	}

	h1 {

		margin-bottom: 0;
		@extend %type-texture;
	}
}