


/* //////////// */
/* Site-wide Variables */

//- text
$base-font-size: 		14px;
$base-line-height: 		1.6875;
$base-text-color: 		#635b54;

//- config
$cdn: 					"/";
$base-spacing-unit: 	30px;

//- colors
$dark-brown:			#44312e;
$orange:				#f15c28;

//- fonts
$sentinel:				"Sentinel SSm A", "Sentinel SSm B";
$tungsten: 				"Tungsten A", "Tungsten B";
$brandon: 				"Brandon Grotesque Regular";
$brandon-black: 		"Brandon Grotesque Blck";
$futura-bold:			"Futura Bold";