


/* //////////// */
/* Base */

* {

	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

body, html {

	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	background: #efeae8 url('#{$cdn}images/main-light.jpg') no-repeat center;
	background-size: cover;
	color: $base-text-color;

	font-family: $sentinel;
	font-weight: 400;
	font-style: normal;
	font-size: $base-font-size;
	line-height: $base-line-height;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

p {

	margin-top: 0;
	word-wrap: break-word;
}

a {

	color: inherit;
	text-decoration: none;
}

img {

	max-width: 100%;
	vertical-align: middle;
	display: block;
}
